/*Fonts*/
/*logo: teko*/
/*headings: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif*/
/*content*: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif*/

/*Colours*/
/*Triad*: 032E54, A12C27, 1660A1, 97A106, 505408/*/
/*Monochromatic: 218EED, 4E82B0, 1660A1, 68AFED, 0F426E*/
/*logo: text=1761a0 wings=a01761

/*Breakpoints
for-phone-only: @media (max-width: 599px) {}
for-tablet-portrait-up: @media (min-width: 600px) {}
for-tablet-landscape-up: @media (min-width: 900px) {}
for-desktop-up: @media (min-width: 1200px) {}
for-big-desktop-up: @media (min-width: 1800px) {}*/

html, body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  margin: auto 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

nav {
  background: #4E82B0;
  width: 100vw;
}

nav > ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

nav li {
  box-sizing: border-box;
  flex: auto;
  list-style: none;
  text-align: center;
}

h1,h2,h3 {
  font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
  padding: 0.4em;
}

p {
  line-height: 1.7;
  padding: 1em;
}

footer {
  background: #4E82B0;
  width: 100vw;
  flex-shrink: 0;
}

footer > ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

footer li {
  box-sizing: border-box;
  flex: auto;
  list-style: none;
  text-align: center;
}

#banner {
  width: 90vw;
  display: block;
  margin: 1em auto;
}

.sublist {
  /* TODO: make visible when on larger screen format & using JS*/
  display: none;
}

.content {
  flex: 1 0 auto;
}






/*@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// usage
.my-box {
  padding: 10px;
  
  @include for-desktop-up {
    padding: 20px;
  }
}