<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width" initial-scale=1/>
    <head>
        {% block head %}
        <title>ready15</title>
        {% endblock head %}
    </head>

    <body>
        <nav>
            <div class="nav-logo">
                <a href="{{ SITEURL }}/index.html">
                    <img id=banner alt="ready15 banner logo" src="{{ SITEURL }}/theme/images/ready15_optimised.svg">
                </a>
            </div>
            <div class="nav-list">
                <ul>
                    <li>Aircraft</li>
                    <ul class="sublist">
                    {% for category, articles in categories|sort %}
                        {% if category != 'editor' %}
                        <li>
                            <a href="{{ SITEURL }}/{{ category.url }}">{{ category}}</a>
                        </li>
                        <ul>
                            {% for article in articles %}
                            <li>
                                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <li>Editor</li>
                    <li>Missions</li>
                </ul>
            </div>
            <div class="nav-footer"><!-- holds the footer --></div>
        </nav>

        <section class=content>
            <div class=content-wrapper>
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </body>

    <footer>
        <ul>
            {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.slug }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </footer>
</html>