<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width" initial-scale=1/>
    <head>
        {% block head %}
        <title>ready15</title>
        <img id="banner" alt="ready15 banner logo" src="{{ SITEURL }}/theme/images/ready15_optimised.svg">
        {% endblock head %}
    </head>

    <body>
        <nav>
            <ul>
                <li>aircraft</li>
                <ul class="sublist">
                    <li>F-5E Tiger II</li>
                    <li>Ka-50</li>
                    <li>M-2000C</li>
                </ul>
                <li>missions</li>
                <ul class="sublist">
                    <li>F-5E Tiger II</li>
                    <li>Ka-50</li>
                    <li>M-2000C</li>
                </ul>
                <li>editor</li>
            </ul>
        </nav>

        <section class=content>
            {# content goes here #}
            <div>
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at condimentum tortor, vitae maximus massa. Cras facilisis velit quis posuere auctor. Aenean malesuada massa feugiat ligula cursus, a hendrerit nisi molestie. Phasellus eu sollicitudin libero, et gravida dui. In ac turpis pretium, pharetra leo ut, ullamcorper urna. Vestibulum finibus, ligula sit amet luctus varius, nunc leo gravida lorem, eget tincidunt turpis eros nec nibh. Vivamus nec malesuada justo, sed tristique lacus. Proin eget lorem lorem. Cras ac dui a quam dignissim dignissim in eu mi. Proin ornare non magna eu iaculis.</p>

                <p>Vivamus turpis nulla, pellentesque ut ante vel, venenatis pulvinar neque. Sed rutrum, arcu in elementum gravida, dui libero mattis lorem, et sollicitudin enim ipsum ut turpis. Proin faucibus lectus est, vel efficitur ante interdum at. Morbi et elit dui. Praesent odio velit, mollis rutrum finibus in, suscipit ut sapien. Mauris vehicula nibh lorem, eget congue enim consequat nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis turpis sed lorem rutrum cursus. Maecenas ac erat porttitor, finibus ipsum volutpat, gravida nulla. Fusce eget imperdiet sapien. Phasellus vestibulum quis urna vitae molestie. Suspendisse sagittis erat in libero euismod rhoncus.</p>

            </div>
        </section>
    </body>

    <footer>
        <ul>
            <li>contact</li>
            <li>contributing</li>
            <li>support</li>
        </ul>
    </footer>
</html>